.page {
  height: 100vh;
  background: var(--bg-secondary);
  overflow: auto;
}

.container {
  width: 80%;
  height: 100vh;
   max-width: 1200px;   
  min-width: 960px;    
  margin: 0 auto;
  padding: 18px 0 26px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 14px;
}

@media (max-width: 980px) {
  .container {
    width: 92%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
