:root {

  --gray-50:  #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2933;
  --gray-900: #111827;

  --green-50:  #f0fdf4; 
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e; 
  --green-600: #16a34a; 
  --green-700: #15803d; 
  --green-800: #166534;
  --green-900: #14532d;

  --blue-50:  #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;

  --earth-50:  #faf7f2;
  --earth-100: #f0e6d8;
  --earth-300: #d6bfa3;
  --earth-500: #8b6f47;
  --earth-700: #5c432a;

  --eco-lime: #84cc16;
  --eco-mint: #5eead4;
  --eco-teal: #14b8a6;

  --success: var(--green-500);
  --warning: #facc15;
  --danger:  #ef4444;

  --btn-primary: var(--green-500);
  --btn-primary-hover: var(--green-600);
  --btn-secondary: var(--earth-500);
  --btn-danger: var(--danger);

  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-600);
  --text-muted: var(--gray-400);
  --text-eco: var(--green-700);

  --bg-primary: #ffffff;
  --bg-secondary: var(--gray-50);
  --bg-eco-light: var(--green-50);
  --bg-eco-soft: #ecfeff;
  --bg-earth: var(--earth-50);

  --theme-1741228380725: #f19bf2; /* 서울 야경명소 */
  --theme-1723624111751: #f0e8b3; /* 매력가든‧동행가든 */
  --theme-1681179124353: #046565; /* 기발한 별지도(운동 명소) */
  --theme-1684396695589: #ff4089; /* 기발한 별지도(키즈편) */
  --theme-1649132420936: #6eaa16; /* 폐의약품 전용수거함 */
  --theme-11102818: #81abff;      /* 서울로 트레킹 길 */
  --theme-11103389: #00ff2f;      /* 폐건전기 분리수거함 */
  --theme-11101836: #009255;      /* 생물다양성 현황 */
  --theme-100273: #ebd7fa;        /* 사진속 거울 */
  --theme-100771: #44077a;        /* 서울시 자원회수시설 */
  --theme-11101844: #d10404;      /* 폐기물 환경기초시설 */
  --theme-1765960848355: #2a3264; /* [성북] 규격봉투 판매소 */
  --theme-1765960271640: #84cc16; /* [성북] 도심공원 즐기기 */
  --theme-1755739898113: #086b8c; /* 용산구 의류수거함 */
  --theme-1741305884013: #a1987a; /* 강북감성길 */
  --theme-1732335864484: #49ac22; /* 서울형 치유의 숲길 */
  --theme-11101181: #1523bb;      /* 차 없는 거리 */
  --theme-1709085904880: #483486; /* 구로, 공원 함께 가요!! */
  --theme-1663564614080: #1bffce; /* 구로구 안양천명소 */
  --theme-1657588761062: #10b981; /* 자전거 도로 */
  --theme-1693986134109: #f59e0b; /* 개인 컵 할인 카페 */
  --theme-11103395: #3b82f6;      /* 제로웨이스트상점 */
  --theme-11101339: #2AB32d;      /* 녹색교통지역 */
  --theme-100578: #06b6d4;        /* 우리동네약수터 */
  --theme-1730359504536: #a855f7; /* 재활용 정거장 */
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: Pretendard, "Noto Sans KR", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}
