.pagination {
  margin: 30px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* 화살표 버튼 */
.arrow {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--gray-200);
  background: var(--bg-primary);
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
  color: var(--text-secondary);
}

.arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 숫자 버튼 */
.num {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--gray-200);
  background: var(--bg-primary);
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  padding: 0;
  font-weight: 800;
  color: var(--text-primary);
}

.num:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.active {
  background: var(--green-600);
  border-color: var(--green-600);
  color: var(--bg-primary);
}